name: Unity Script Build
on:
  workflow_dispatch
  
env:
  UNITY_LICENSE: ${{ secrets.UNITY_LICENSE }}
  UNITY_EMAIL: ${{ secrets.UNITY_EMAIL }}
  UNITY_PASSWORD: ${{ secrets.UNITY_PASSWORD }}
  
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
    - name: Create LFS file list
      run: git lfs ls-files -l | cut -d' ' -f1 | sort > .lfs-assets-id

    - name: Restore LFS cache
      uses: actions/cache@v2
      id: lfs-cache
      with:
        path: .git/lfs
        key: ${{ runner.os }}-lfs-${{ hashFiles('.lfs-assets-id') }}

    - name: Git LFS Pull
      run: |
        git lfs pull
        git add .
        git reset --hard
        
    - name: Restore Library cache
      uses: actions/cache@v2
      with:
        path: Library
        key: Library-GameCITest-Android
        restore-keys: |
          Library-build-
          Library-
          
    - name: Build Unity
      uses: game-ci/unity-builder@v2
      with:
        version: 2020.3.32f1
        targetPlatform: Android
        buildMethod: BuildScript.PerformScriptOnlyBuild
        
    - uses: actions/upload-artifact@v2
      with:
        name: Build
        path: Builds
        
